<div style="width: 768px">
<p>Hi There</p>

<p>One of our Admins Registered your organization for Outreach App. Please click on the below link to complete the signup process.</p>

<a href="{{url}}?code={{token}}">{{url}}</a>

{{> customfooter }}
</div>