<div style="width: 768px">
<p>Hi There</p>

<p>Agape Silicon Valley registered you for volunteering for OutreachApp. Please click the below link to compete the signup process.</p>

<a href="{{url}}?code={{token}}">{{url}}</a>

{{> footer }}
</div>