<div style="width: 768px">
<p>Hi There</p>

<p>Thanks for coming forward to volunteer for Outreach App, Please use the below link to reset your password and login into the app using {{email}} account.</p>

<a href="{{url}}?code={{token}}">{{url}}</a>

{{> footer }}
</div>