<p>If you didn’t request for registering your organization, Please ignore or reach out to us at {{from}} to remove your account
</p>
<p></p>
<p>Thanks,</p>
<p>Your OutreachApp Team</p>
<p><a href="https://outreachapp.org">https://outreachapp.org</a></p>